In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
#calculation through python..
2*10

20

In [4]:
3+4+9

16

In [5]:
2**3

8

In [12]:
9/5

1.8

In [13]:
#type of data checking..
type(10)

int

In [14]:
type(10.0)

float

In [15]:
type('abc')

str

In [16]:
type(True)

bool

In [19]:
#variables
shi=10
shi

10

In [20]:
#multiple assigment
a=b=c=1
a,b,c=1,2,'kashi'

In [28]:
#outputs
print('Welcome')

Welcome

In [25]:
a=5
print('The value of a is',a)

The value of a is 5

In [27]:
print(1,2,3,4)

1 2 3 4

In [30]:
print(1,2,3,4,sep='*')

1*2*3*4

In [31]:
name='Karun'
sal=456.35
print("The Given Employee Number is :",num)
print("The Given Employee Name is :",name'
print("The Given Employee Salary is :",sal)

The Given Employee Number is : 101
The Given Employee Name is : Karun
The Given Employee Salary is : 456.35

In [35]:
name=input("Enter employee Name :")
num=int(input("Enter the Emp number :"))
sal=float(input("Enter sal : "))
print("The Given Employee Number is :",num)
print("The Given Employee Name is :",name)
print("The Given Employee Salary is :",sal)

Enter employee Name : vardhan
Enter the Emp number : 1030
Enter sal :  34500

The Given Employee Number is : 1030
The Given Employee Name is : vardhan
The Given Employee Salary is : 34500.0

In [38]:
#write a python program to enter radius of circle and find the area of the circle 
r=int(input("Enter the radius of the circle : "))
area= 3.14*r*r
print("The area for the given radius :",area)

Enter the radius of the circle :  5

The area for the given radius : 78.5

In [39]:
#Write a python program to calculate area and circumferemce of rectangle
l=int(input('Enter the length : '))
b=int(input("Enter breadth :"))
Area=l*b
c=2*(l+b)
print("Area of the Rectangle : ",Area)
print("Circumference of the Rectangle : ",c)

Enter the length :  4
Enter breadth : 3

Area of the Rectangle :  12
Circumference of the Rectangle :  14

In [46]:
# write a program to enter student number, student name , 3 sub marks , calculate total and average of the student and display the report
name =input("Enter student name :")
no=int(input("Enter student number :"))
su1=int(input("Enter your sub1 marks :"))
su2=int(input("Enter your sub2 marks :"))
su3=int(input("Enter your sub3 marks :"))
total=su1+su2+su3
avg=round(total/3)
print("REPORT OF THE STUDENT :")
print("The Student name :",name)
print("The Student number :",no)
print("The Ttal marks :",total)
print("The Average marks : ",avg)

Enter student name : SHIVA
Enter student number : 1263
Enter your sub1 marks : 92
Enter your sub2 marks : 91
Enter your sub3 marks : 95

REPORT OF THE STUDENT :
The Student name : SHIVA
The Student number : 1263
The Ttal marks : 278
The Average marks :  93

In [48]:
#conditional conrol statemets
a=int(input("Enter your value :"))
b=int(input("Enter your value :"))
if a>b:
    print(a,"A is greater")
else:
    print(b,"B is greater")

Enter your value : 20
Enter your value : 12

20 A is greater

In [51]:
# wap to check the given no is even or odd
a=int(input("Enter a value to check even or odd :"))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter a value to check even or odd : 13

Odd

In [52]:
#largest values of 3 numbers
a=int(input("Enter your value :"))
b=int(input("Enter your value :"))
c=int(input("Enter your value :"))
if a>b and a>c:
    print(a,"A is greater")
elif a<b and c<b:
    print(b,"B is greater")
else:
    print(c,"C is greater")

Enter your value : 12
Enter your value : 5
Enter your value : 7

12 A is greater

In [ ]:
#1 largest of 3 numbers
#2 programs on nested if
#3 programs on elif
#2 programs on for loop
#3 while loop

In [ ]:
n=int(input("Enter n values to display")
i=1
while i<=n:
    print("%d\t",%d(i))
    i+=1

In [ ]:
n=int(input("Enter n values to display"))
i=1
while i<=n:
    if i%2==0:
        print("%d\t" % i,end="")
    i=i+1

In [ ]:
# to display the mathematical table upto given number
n=int(input("Enter the last number to be displayed"))
for i in range(1,51,5):
    print("5*1=""+i",i)